!.gitignore
/.htaccess
/data
test/
sirgle/
test.php
*.key
*.sh
log
g5_tree
cheditor5.*/
!ckeditor*/
log/
g5_tree/
.idea
.vscode/
naver*.html
initests01/
SIRsoft000/
config.php
pma/
!/vendor
.env
.env.*
!.env.sample
*.bak
*.swp
.DS_Store
phpstan.neon

# .gitignore 파일

# 이미 트래킹 중인 파일 무시
!adm/admin.menu200.php
!adm/css/admin.css

# 무시할 파일
adm/memo_list.php

backup/


vendor/**/.github
